NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=habita
DB_USER=postgres
DB_PASSWORD=postgres

AUTH0_AUDIENCE=https://habita-backend
AUTH0_ISSUER_BASE_URL=https://sironi.us.auth0.com
